<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de glosas por error de facturación</title>
</head>
<body>
    <h1>Glosas por error de facturación</h1>
    <ul>
        {% for glosa in glosas %}
            <li><a href="{% url 'glosaForErrorOFfactoringDetail' glosa.pk %}">{{ glosa.show_info }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'glosaForErrorOFfactoringCreate' %}">Agregar glosa</a>
</body>
</html>