<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de glosa por error de facturación</title>
</head>
<body>
    <h1>Detalles de glosa por error de facturación</h1>
    <table>
        <tr>
            <th>Codigo de glosa: </th>
            <td>{{ glosa.code_glosa }}</td>
        </tr>

        <tr>
            <th>Descripción de glosa</th>
            <td>{{ glosa.description }}</td>
        </tr>

        <tr>
            <th>Cantidad rechazada de glosa: </th>
            <td>{{ glosa.rejected_amount }}</td>
        </tr>

        <tr>
            <th>Tipo de error de glosa: </th>
            <td>{{ glosa.type_error }}</td>
        </tr>
    </table>
    <a href="{% url 'glosaForErrorOFfactoringUpdate' glosa.pk %}">Editar</a>
    <a href="{% url 'glosaForErrorOFfactoringDelete' glosa.pk %}">Eliminar</a>

    <a href="{% url 'glosasForErrorOFfactoringList' %}">Volver a ver glosas por falta de documentación</a>
</body>
</html>