<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar glosa por falta de documentación</title>
</head>
<body>
    <h1>¿Desea eliminar esta glosa?</h1>
    <table>
        <tr>
            <th>Codigo de glosa:</th>
            <td>{{ glosa.code_glosa }}</td>
        </tr>
        
        <tr>
            <th>Descripción de glosa:</th>
            <td>{{ glosa.description }}</td>
        </tr>
        
        <tr>
            <th>Cantidad rechazada de glosa:</th>
            <td>{{ glosa.rejected_amount }}</td>
        </tr>
        
        <tr>
            <th>Codigo de glosa:</th>
            <td>{{ glosa.missed_documents }}</td>
        </tr>
    </table>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>

    <a href="{% url 'glosasForLessDocumentationList'%}">Cancelar y volver</a>
</body>
</html>