<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of less documentation glosas</title>
</head>
<body>
    <h1>Glosas por falta de documentación</h1>
    <ul>
        {% for glosa in glosas %}
            <li><a href="{% url 'glosasForLessDocumentationDetail' glosa.pk %}">{{ glosa.show_info }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'glosasForLessDocumentationCreate' %}">Agregar glosa</a>
</body>
</html>